.input-filter {
  display: flex;
  align-items: center;
  width: 90%;
}

.input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: var(--primary-size);
  color: #e7e7e8;
  background-color: var(--bg-secondary);
}

.input::placeholder {
  color: #888;
}

.input:focus {
  outline: none;
  border: 1px solid #66f0ff;
}
