.shimmer-ui {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 16px;
}

.shimmer-card {
  width: 225px;
  height: 350px;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  margin-bottom: 20px;
}
