:root {
  font-family: sans-serif;
  --primary-size: 18px;
  --secondary-size: 16px;
  --primary-color: rgb(150, 150, 159);
  --text-color: white;
  --bg-color: #000000;
  --bg-secondary: #1a1a1f;
}

body {
  all: unset;
}
